* {
  box-sizing: border-box;;
}

body {
  font-family: 'Raleway', sans-serif;
  padding: 50px 50px 10px 50px;
  background: linear-gradient(to right,#F6F9FE 0%, #F6F9FE 22%,#FFF 22%, #FFF 100%);
}

.page-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 163px;
}

.page-header__item:last-child{
  flex-grow: 1;
  text-align: right;
}

.navigation-list{
  list-style: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 50px;
}

.navigation-list__item {
text-decoration: none;
font-weight: 300;
font-size: 24px;
line-height: 30px;
color: #061839;
}

h1 {
font-family: Cormorant;
font-weight: 600;
font-size: 84px;
line-height: 102px;
color: #061839;
}

span {
  color: #18499E;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-bottom: 135px;
}

.profile-description__item {
font-weight: 300;
font-size: 28px;
line-height: 36px;
color: #80899b;
padding-bottom: 81px;
}

.hire-button {
width: 250px;
height: 65px;
background-color: #18499E;
box-shadow: 0px 5px 20px #C4C4C4;
border-radius: 20px;
margin-right: 20px;
color: #F8FBFC;
font-size: 20px;
font-weight: 400;
}

.work-button{
  width:250px;
height: 65px;
background-color: #F8FBFC;
border: 1px solid #18499E;
box-shadow: 0px 5px 20px #C4C4C4;
border-radius: 20px;
color: #18499E;
font-size: 20px;
font-weight: 400;
}

.profile-picture{
  width: 677px;
  height: auto;
}

footer{
margin-top: 150px;
}

.footer-email {
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  margin-bottom: 26px;
}

.footer-item {
font-weight: 300;
font-size: 18px;
line-height: 36px;
color: #061839;
margin-bottom: 26px;
}

.footer-social {
margin-bottom: 50px;
}

.footer-copyright {
  font-size: 14px;
}
